@model IEnumerable<StarCoins.Models.AlunoAtividade>

@{
    ViewData["Title"] = "Atividades dos Alunos";
}

<div class="text-center">
    <h2>Atividade: @Model.First().Atividade.Nome</h2>

    <form asp-action="Update" method="post">
        <table class="table">
            <thead>
                <tr>
                    <th>Aluno</th>
                    <th>Nota</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var alunoAtividade in Model)
                {
                    <tr>
                        <td>@alunoAtividade.Aluno.Nome</td>
                        <td>
                            @if (alunoAtividade.Nota.HasValue)
                            {
                                <!-- Exibe a nota como texto quando já foi salva -->
                                <span>@alunoAtividade.Nota</span>
                            }
                            else
                            {
                                <!-- Permite a edição de notas se ainda não foi salva -->
                                <input type="number" step = "0.1" name="notas[@alunoAtividade.AlunoAtividadeId]" 
                                       value="0.0" min="0.0" max="10" placeholder="Insira a nota" />
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @if (!Model.Any(a => a.Nota.HasValue))
        {
            <a class="btn btn-primary" href="/alunoatividade/update" method="post">Salvar Notas</a>
        }
        <a class="btn btn-outline-secondary" href="/atividade/read">Voltar</a>
    </form>
</div>
